<table class="discussion" summary="User Discussion">
  <tr hidden=true id="flash_notice">
    <td></td>
    <td></td>
  </tr>
  <%= render @posts %>
</table>
<% logger.debug @user %>
<% @user ||= current_user %>
<%= form_for @user.posts.build(:week_id => @week.id), :remote => true do |f| %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
   <div class="field">
    <%= f.hidden_field :week_id %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

