<% if @posts.empty? %>
<div class="empty_filler">
  <b>Be the first to post!</b>
</div>
<% end %>
<table class="discussion" summary="User Discussion">
  <% unless @posts.empty? %>
    <%= render @posts %>
  <% end %>
</table>


<% @user ||= current_user %>

<%= form_for @user.posts.build(:week_id => @week.id), :remote => true do |f| %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.hidden_field :week_id %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

