<h1>Create a new group!</h1>

<%= form_for(@group) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Make group!" %>
  </div>

<% end %>

<%= render :partial => 'users/left_bar' %>
<%= render :partial => 'users/right_bar' %>
