<% content_for :javascript do %>
  <%= render 'week_links.js' %>
<% end %>

<div class="header">
  <h1><%= "#{@group.name}" %></h1>
</div>


<table border="0" cellspacing="0" cellpadding="0" class="split">
  <tr>
    <td valign="top" id="left">
      <h3 align="center"><u>Materials</u></h3>
      <br>
      <ol>
          <li><a href="http://www.crei.cat/people/jventura/theoretical%20notes%20pub.pdf">Theoretical Notes on Bubbles and the Current Crisis (by Martin and Ventura)</a>
        </li>
        <li>worthwhile quotes</li>
        <li>some pics</li>
        <li>a journal article on the topic</li>
        <li>some pundit's view on the matter</li>
      </ol>
    </td>
    <td valign="top" id="right">
      <div id="post_display">
        <%= render 'weeks/post_display' %>
      </div>
    </td>
  </tr>
</table>

<%= render :partial => 'groups/right_bar' %>
<%= render :partial => 'groups/left_bar' %>
