<% content_for :javascript do %>
  <%= render 'week_links.js' %>
<% end %>

<div class="header">
  <h1><%= "#{@group.name}" %></h1>
</div>


<table border="0" cellspacing="0" cellpadding="0" class="split">
  <tr>
    <td valign="top" id="left">
      <h3 align="center"><u>Materials</u></h3>
      <br>
      <ol>
          <li><a href="http://www.crei.cat/people/jventura/theoretical%20notes%20pub.pdf">Theoretical Notes on Bubbles and the Current Crisis (by Martin and Ventura)</a>
        </li>
        <li><a href="http://www.youtube.com/watch?v=SDTZ7iX4vTQ&feature=g-hist&context=G24af849AHTyftvAAqAA">Faster? Not likely.</a></li>
        <li><a href="http://en.wikipedia.org/wiki/Tirupati_(city)">Tirupati</a></li>
        <li><a href="http://math.stackexchange.com/questions/96331/in-russian-roulette-is-it-best-to-go-first">Russian Roulette</a></li>
        <li><a href="http://www.opencongress.org/">Congress (open)</a></li>
      </ol>
    </td>
    <td valign="top" id="right">
      <div id="post_display">
        <%= render 'weeks/post_display' %>
      </div>
    </td>
  </tr>
</table>

<%= render :partial => 'groups/right_bar' %>
<%= render :partial => 'groups/left_bar' %>
