<% content_for :javascript do %>
  <%= render 'week_links.js' %>
<% end %>

<h1><%= "#{@group.name}" %></h1>

<% if @group.user_is_admin?(current_user) %>
  <div class="delete_group">
    <%= link_to "Delete Group", @group, :method => :delete, :confirm => "Are you totally sure? This cannot be undone!", :title => "Delete #{@group.name}" %>
  </div>
<% end %>

<% if current_user.group_member?(@group) %>
  <%= render :partial => 'groups/leave' %>
<% else %>
  <%= render :partial => 'groups/join' %>
<% end %>

<div id="group_nav">
  <ul class="grouplink">
    <li><a href="#">Main</a></li>
    <li><a href="#">Group Members</a></li>
    <li><a href="#">Resources</a></li>
  </ul>
</div>

<div id="group_week_nav">
  <ul class="week">
    <%= render :partial => 'week_links', :collection => @weeks, :as => :week %>
  </ul>
</div>
<div id="clear">
</div>
<br><br><br>


<div id="left">
  <p> LEFT</p>
</div>
<div id="right">
  <%= render 'weeks/post_display' %>
</div>
<div id="clear">

</div>




