<h1>Current Users:</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
  <%= "There aren't any users yet!" if @users.empty? %>
</ul>

<%= will_paginate %>

<%= render :partial => 'users/left_bar' %>
<%= render :partial => 'users/right_bar' %>
