<h1><%= "Hi #{current_user.name}! Welcome to ThisMonth" %></h1>

<%= content_for :left do %>
<% if @groups.empty? %>
  <b>You haven't joined any groups!</b>
<% else %>
  <div class="header">
    <h2>Your groups:</h2>
  </div>
  <div class="user_groups">
    <ul class="feed">
      <%= render @groups %>
      <li>
      <%= link_to "Create a new group,", new_group_path %>
      <%= link_to "or find one to join!", groups_path %>
      </li>
    </ul>
  </div>
<% end %>
<% end %>
