<% content_for(:head) do %>
  <%= javascript_include_tag 'pages/home' %>
<% end %>

<% if signed_in? %>
  <table cellspacing="0" class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What's up?</h1>
        <%= render 'shared/micropost_form' %>
        <div id="feed">
          <%= render 'shared/feed' %>
        </div>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>

<% else %>

<h1>Sample App!</h1>
<p>
This is the home page for my sample app.  Yippee..
</p>
<%= link_to "Sign up now!",signup_path, :class => "signup_button round" %>

<% end %>
