<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "customglobal" %>
    <script type="text/javascript">
      <%= yield :javascript %>
      </script>
      <body>

        <div id="maincontainer">
          <%= render 'layouts/header' %>
          <div id="contentwrapper">
            <div id="contentcolumn" class="round">
              <div class="innertube round">
                <% flash.each do |key,val| %>
                  <div class="flash <%= key %>"><%= val %></div>
                <% end %>
                <%= yield %>
              </div>
            </div>
          </div>
          <div id="leftcolumn" class="round">
            <div class="innertube round">
              <%= yield :left %>
            </div>
          </div>
          <div id="rightcolumn round">
            <div class="innertube">
              <%= yield :right %>
            </div>
          </div>
          <div id="footer">
            <%= render 'layouts/footer' %>
          </div>
        </div>
        <%= debug(params) if Rails.env.development? %>
      </body>
    </html>

